* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #191919;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 40px 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper {
    width: 403px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

.nav-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    transition: 0.2s ease-out;
}

.nav-link:hover {
    color: #118da8;
}

.main-image {
    width: 650px;
    border-radius: 12px;
    position: relative;
}

.main-image:before{
    content: url("/assets/images/line1.svg");
    position: absolute;
    width: 68px;
    height: 74px;
    top: -26px;
    left: -26px;
}

.main-description {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


.main-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 90px;
    margin-top: 167px;
}


.main-span {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}
.main-span-position{
    position: relative;
}
.main-span-position:after{
    content: url("/assets/images/line2.svg");
    position: absolute;
    width: 163px;
    height: 11px;
    bottom: 57px;
    right: -19px;
}

.icon-span {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    justify-self: start;
}

.icons {
    margin-top: 16px;
    display: flex;
    gap: 17px;
    justify-content: flex-start;
    align-items: center;
}

.icons svg {
    transition: 0.3s ease-out;
    cursor: pointer;
}

.icons svg:hover {
    transform: translateY(-5px);
}

.episodes .container {
    padding: 100px 70px 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;
}

.btn {
    width: fit-content;
    height: 51px;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    background: #118da8;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.btn:hover {
    background: transparent;
    border: 2px solid #118da8;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.episode-card {
    padding: 40px;
    border-radius: 32px;
    background: #000;
    display: flex;
    column-gap: 53px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-tag {
    width: fit-content;
    padding: 0 16px;
    border-radius: 6px;
    background: #191919;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;

    text-align: center;
    margin-bottom: 49px;
}

.card-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
    margin-bottom: 18px;
}

.card-main-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 28px;
}

.card-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

.about .container {
    padding: 100px 70px;
=
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}

.about-content {
    width: 590px;
}

.about-link {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background: #118da8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.about-link:hover {
    transform: rotateZ(90deg);
}

.about-span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}

.about-title {
    margin-bottom: 28px;
}

.about-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 33px;
}

.about-description:last-child {
    margin-bottom: 0;
}

.about-image {
    border-radius: 12px;
    width: 650px;
    height: 743px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsletter .container {
    padding: 100px 70px
}

.newsletter-wrapper {
    width: 100%;
    padding: 60px 60px 75px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    border-radius: 32px;
    position: relative;
}

.newsletter-wrapper:before {
    content: url("/assets/images/line3.svg");
    position: absolute;
    width: 147px;
    height: 91px;
    bottom: -26px;
    left: -38px;
}


.newsletter-span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}

.newsletter-title {
    width: 431px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.newsletter-input {
    width: 522px;
    height: 82px;
    padding: 29px 19px 20px;
    border: 1px solid #191919;
    border-radius: 6px;
    background: #191919;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.newsletter-input:focus {
    outline: none;
    border: 1px solid #454444;
}

.newsletter-input::placeholder {
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.reviews .container {
    padding: 100px 70px;
}

.review-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.review-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 422px;
    height: 321px;
    padding: 54px 50px 50px;
    border-radius: 32px;
    background: #000;
}

.review-title {
    width: 313px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.review-span {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
}

.footer .container {
    padding: 100px 70px;
}

.footer-wrapper {
    display: flex;
    align-items: flex-start;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-logo-icons {
    display: flex;
    column-gap: 10px;
    width: 447px;
}

.footer-logo-icons svg {
    transition: 0.3s ease-out;
    cursor: pointer;
}

.footer-logo-icons svg:hover {
    transform: translateY(-5px);
}

.nav-footer {
    width: 179px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-lists {
    display: flex;
    column-gap: 16px;
}

.footer-list {
    width: 179px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
}

.footer-list-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    transition: 0.2s ease-out;
}

.footer-list-link:hover {
    color: #118da8;
}

.footer-social-icons {
    display: flex;
    column-gap: 17px;
}

.footer-social-icons svg {
    transition: 0.3s ease-out;
    cursor: pointer;
}

.footer-social-icons svg:hover {
    transform: translateY(-5px);
}